.slider-container, .checkboxes-container__title, .toggle-container, .catalog-item__name, .catalog-item__price, .login-form__label, .house__name, .house__price, .house__location, .house__room, .nav__link:link, .nav__link:visited, .copyright, .navbar__link, .checkbox, .input, .btn {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.paragraph-4 {
  font-size: 1.8rem; /* 18px */
  line-height: 2.8rem; /* 28px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: [container-start] minmax(6rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 20rem) [col-end]) [content-end] minmax(6rem, 1fr) [container-end];
}

.heading-primary {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Jost", sans-serif;
}
@media only screen and (max-width: 900px) {
  .heading-primary {
    font-size: 3.2rem;
  }
}
.heading-primary__text--1 {
  display: block;
  text-align: center;
  margin-bottom: -1rem;
}
.heading-primary__text--2 {
  display: block;
  text-align: center;
  margin-top: -1rem;
}

.heading-secondary {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 600px) {
  .heading-secondary {
    font-size: 1.6rem;
  }
}

.heading-1 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  color: #ffffff;
  line-height: 1;
}

.heading-2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #171618;
}
.heading-2--dark {
  color: #000000;
}

.heading-3 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #171618;
  text-transform: uppercase;
}

.heading-4 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
}
.heading-4--light {
  color: #171618;
}
.heading-4--dark {
  color: #000000;
}

.paragraph-4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.paragraph-4--light {
  color: #171618;
}
.paragraph-4--dark {
  color: #000000;
}

.btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #e6e6e6;
}

.input {
  width: 100%;
  border-radius: 1rem;
  height: 3.5rem;
  padding: 0.5rem 1rem;
  border: 0.5px solid #171618;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 2.5rem;
}
.slider::-webkit-slider-runnable-track {
  height: 100%;
  background: #e6e6e6;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: -31rem 0 0 30rem #dca54c;
}

.toggle__control {
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  width: 5rem;
  height: 2rem;
  display: block;
  border-radius: 2rem;
  background-color: #e6e6e6;
  position: relative;
}
.toggle__control:after {
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.toggle__input {
  display: none;
}
.toggle__input:checked + .toggle__control {
  border-color: #dca54c;
  background-color: #e1b266;
}
.toggle__input:checked + .toggle__control:after {
  left: 3rem;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #ffffff;
}
.checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox:hover .checkbox__input ~ .checkbox__checkmark {
  background-color: #e6e6e6;
}
.checkbox .checkbox__input:checked ~ .checkbox__checkmark {
  background-color: #dca54c;
}
.checkbox .checkbox__input:checked ~ .checkbox__checkmark:after {
  display: block;
  left: 7.5px;
  top: 5px;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.header {
  grid-row: header-start/header-end;
  grid-column: 1/-1;
  background-color: #171618;
  z-index: 50;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content 2rem min-content;
  grid-template-areas: "logo . navbar . header__btn";
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .header {
    padding: 0 3rem;
    grid-template-columns: min-content 1fr min-content;
    grid-template-areas: "logo . header__btn--3-bars";
  }
}
.header__btn {
  grid-area: header__btn;
}
@media only screen and (max-width: 900px) {
  .header__btn {
    display: none;
  }
}
.header__btn--3-bars {
  display: none;
  grid-area: header__btn--3-bars;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
@media only screen and (max-width: 900px) {
  .header__btn--3-bars {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__btn--3-bars > img {
  width: 2rem;
  height: 2rem;
}

.logo {
  grid-area: logo;
  color: #ffffff;
  font-size: 4rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
  text-decoration: none;
}

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 900px) {
  .navbar {
    display: none;
  }
}
.navbar__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}
.navbar__link:hover {
  text-decoration: underline;
}

.footer {
  grid-row: footer-start/footer-end;
  grid-column: 1/-1;
  background-color: #171618;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  color: #dca54c;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  background-color: rgba(220, 165, 76, 0.05);
  transform: translateY(-3px);
}

.copyright {
  color: #ffffff;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

.home {
  grid-template-rows: [header-start] 8rem [header-end content-start] 80vh [features-start] minmax(40vw, min-content) [story-start] minmax(40vw, min-content) [homes-start] minmax(50vw, min-content) [content-end footer-start] min-content [footer-end];
}

.section-hero {
  grid-row: header-start/features-start;
  grid-column: 1/-1;
  background-image: linear-gradient(rgba(23, 22, 24, 0.8), rgba(23, 22, 24, 0.8)), url(../../asset/img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section-hero__btn {
  background-color: #dca54c;
}
.section-hero__btn:hover {
  background-color: #e1b266;
}

.section-features {
  grid-column: content-start/content-end;
  grid-row: features-start/story-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  margin: 15rem 0;
  gap: 5rem;
}
@media only screen and (max-width: 900px) {
  .section-features {
    display: flex;
    flex-direction: column;
  }
}

.feature {
  width: 100%;
  display: grid;
  place-self: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 1rem;
  column-gap: 2rem;
}
.feature__icon {
  fill: #dca54c;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
}
.feature__text {
  font-size: 1.7rem;
}

.section-story {
  grid-row: story-start/homes-start;
  grid-column: content-start/content-end;
  margin-bottom: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}
@media only screen and (max-width: 900px) {
  .section-story {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-auto-flow: column;
  }
}
.section-story__picture {
  background-image: url(../../asset/img/story-1.jpeg);
  background-size: cover;
  background-position: center;
}
.section-story__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #000000;
  color: #ffffff;
}

.section-houses {
  grid-row: homes-start/content-end;
  grid-column: content-start/content-end;
  margin-bottom: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 2rem;
}
@media only screen and (max-width: 900px) {
  .section-houses {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .section-houses {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}
.section-houses__heading {
  color: #000000;
  grid-column: 1/-1;
  place-self: center;
}

.house {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr 1fr;
  background-color: #171618;
  color: #dca54c;
}
.house__img {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
}
.house__name, .house__price, .house__location, .house__room {
  place-self: center;
  display: flex;
  align-items: center;
  font-family: "Jost", sans-serif;
}
.house__name svg, .house__price svg, .house__location svg, .house__room svg {
  fill: #dca54c;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.login {
  background-color: #171618;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 45rem;
  height: 45rem;
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  gap: 1rem;
}
.login-form__title {
  place-self: center;
  color: #171618;
  font-size: 4rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
}
.login-form__btn {
  background-color: #000000;
  color: #ffffff;
  place-self: center;
  width: 80%;
  border-radius: 1rem;
}
.login-form__field {
  display: flex;
  flex-direction: column;
  place-self: center;
  width: 80%;
  gap: 0.5rem;
}
.login-form__label {
  font-family: "Jost", sans-serif;
}
.login-form__input {
  border-radius: 1rem;
}

.offers {
  grid-template-rows: [header-start] 8rem [header-end content-start] minmax(80vw, min-content) [content-end footer-start] min-content [footer-end];
}

.section-offers {
  grid-column: container-start/container-end;
  grid-row: content-start/content-end;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content 1fr;
  margin: 15rem 0;
  gap: 6rem;
}
.section-offers__btn--search {
  background-color: #dca54c;
}

.filters {
  grid-column: 1/2;
  background-color: #171618;
  border-radius: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, min-content);
  gap: 2rem;
  padding: 4rem;
}

.slider-container {
  color: #ffffff;
  font-family: "Jost", sans-serif;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.slider-container__label {
  grid-column: 1/-1;
  font-weight: 700;
}
.slider-container__slider {
  grid-column: 1/-1;
}
.slider-container__price {
  display: inline-block;
  font-weight: 700;
}
.slider-container__price--2 {
  text-align: end;
}

.checkboxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr;
  gap: 1rem;
}
.checkboxes-container__title {
  grid-column: 1/-1;
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

.toggle-container {
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.catalog {
  grid-column: 2/3;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 2rem;
}

.catalog-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3rem 3rem;
  background-color: #171618;
  border-radius: 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.catalog-item:hover {
  opacity: 0.7;
}
.catalog-item__image {
  grid-column: 1/-1;
}
.catalog-item__image img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  border-radius: 1rem 1rem 0 0;
}
.catalog-item__name {
  grid-column: 1/-1;
  place-self: center;
  color: #dca54c;
  font-family: "Jost", sans-serif;
}
.catalog-item__price {
  grid-column: 1/-1;
  place-self: center;
  font-family: "Jost", sans-serif;
  color: #dca54c;
}

.contact {
  grid-template-rows: [header-start] 8rem [header-end content-start] 100vh [content-end footer-start] min-content [footer-end];
}

.section-contact {
  grid-column: container-start/container-end;
  padding: 0 6rem;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 3rem;
}
@media only screen and (max-width: 900px) {
  .section-contact {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.info {
  grid-column: 1/-1;
}
.info__heading {
  color: #000000;
}