@use "../abstracts/" as *;

.footer {
  grid-row: footer-start / footer-end;
  grid-column: 1 / -1;
  background-color: $color-primary;
  padding: 8rem;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    @extend %text-base;
    color: $color-primary-content;
    text-decoration: none;
    font-family: $font-secondary;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba($color-primary-content, 0.05);
    transform: translateY(-3px);
  }
}

.copyright {
  @extend %text-base;
  color: $color-secondary;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}
