@use "../../sass/abstracts/" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @include screenSize(tablet-landscape) {
    font-size: 50%;
  }
}

// Divide the the grid into columns first.
// Columns: 6rem / 1fr -- Center -- 6rem / 1fr
// Center: 8 columns (min-content <= size <= 14rem)
.layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns:
    [container-start] minmax(6rem, 1fr)
    [content-start] repeat(8, [col-start] minmax(min-content, 20rem) [col-end])
    [content-end] minmax(6rem, 1fr)
    [container-end];
}
