@use "../abstracts/" as *;

.contact {
  // The grid is divided vertically in _base.scss.
  // The grid is divided horizontally (downwards order)
  // Header (6rem)
  // Section-hero: 80vh
  // Section-features: 40vw
  grid-template-rows:
    [header-start] 8rem [header-end content-start] min-content
    [content-end footer-start] min-content [footer-end];
}

.section-contact {
  grid-column: container-start / container-end;
  padding: 0 6rem;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 4rem;

  @include screenSize(tablet-portrait) {
    display: flex;
    flex-direction: column;
  }
}

.info {
  grid-column: 1 / -1;

  &__heading {
    color: $color-secondary-content;
  }
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr) 6rem;
  gap: 2rem;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &--span {
      grid-column: 1 / -1;
    }
  }

  &__label {
    @extend %text-base;
    font-family: $font-secondary;
  }

  &__btn {
    &--contact {
      background-color: $color-accent;
      &:hover {
        background-color: $color-accent-focus;
      }
    }

    &--reset {
      background-color: $color-secondary-focus;
      &:hover {
        background-color: $color-secondary;
      }
    }
  }
}

.map {
  @include screenSize(tablet-portrait) {
    height: 50rem;
  }
}
