@use "../abstracts/" as *;

.home {
  // The grid is divided vertically in _base.scss.
  // The grid is divided horizontally (downwards order)
  // Header (6rem)
  // Section-hero: 80vh
  // Section-features: 40vw
  grid-template-rows:
    [header-start] 8rem [header-end content-start] 80vh [features-start] minmax(
      40vw,
      min-content
    )
    [story-start] minmax(40vw, min-content)
    [homes-start] minmax(50vw, min-content)
    [content-end footer-start] min-content [footer-end];
}

.section-hero {
  grid-row: header-start / features-start;
  grid-column: 1 / -1;
  background-image: linear-gradient(
      rgba($color-primary, 0.8),
      rgba($color-primary, 0.8)
    ),
    url(../../asset/img/hero.jpeg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__btn {
    background-color: $color-accent;
    &:hover {
      background-color: $color-accent-focus;
    }
  }
}

.section-features {
  grid-column: content-start / content-end;
  grid-row: features-start / story-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  margin: 15rem 0;
  gap: 5rem;

  @include screenSize(tablet-portrait) {
    display: flex;
    flex-direction: column;
  }
}

.feature {
  width: 100%;
  display: grid;
  place-self: center;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  row-gap: 1rem;
  column-gap: 2rem;

  &__icon {
    fill: $color-accent;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.7rem;
  }
}

.section-story {
  grid-row: story-start / homes-start;
  grid-column: content-start / content-end;
  margin-bottom: 15rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;

  @include screenSize(tablet-portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-auto-flow: column;
  }

  &__picture {
    background-image: url(../../asset/img/story-1.jpeg);
    background-size: cover;
    background-position: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: $color-secondary-content;
    color: $color-secondary;
  }
}

.section-houses {
  grid-row: homes-start / content-end;
  grid-column: content-start / content-end;
  margin-bottom: 15rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 2rem;

  @include screenSize(tablet-portrait) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  @include screenSize(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }

  &__heading {
    color: $color-secondary-content;
    grid-column: 1 / -1;
    place-self: center;
  }
}

.house {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr 1fr;
  background-color: $color-primary;
  color: $color-primary-content;
  &__img {
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
  }

  &__name,
  &__price,
  &__location,
  &__room {
    place-self: center;
    display: flex;
    align-items: center;
    @extend %text-base;
    font-family: $font-secondary;

    svg {
      fill: $color-primary-content;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }
}
