@use "../abstracts/" as *;

.info {
  // The grid is divided vertically in _base.scss.
  // The grid is divided horizontally (downwards order)
  // Header (6rem)
  // Section-hero: 80vh
  // Section-features: 40vw
  grid-template-rows:
    [header-start] 8rem [header-end content-start] min-content
    [content-end footer-start] min-content [footer-end];
}

.section-info {
  grid-column: container-start / container-end;
  padding: 0 6rem;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6rem;

  @include screenSize(tablet-portrait) {
    display: flex;
    flex-direction: column;
  }
}

.house-album {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 4rem;

  &__image--main {
    grid-row: 1 / span 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image--upper {
    grid-row: 1 / span 1;
    grid-column: 2 / 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image--lower {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.house-info {
  display: flex;
  flex-direction: column;

  &__heading {
    margin-top: -1rem;
    font-family: $font-secondary;
    font-weight: bold;
    font-size: xx-large;
  }

  &__address {
    margin-top: -0.5rem;
    font-family: $font-secondary;
    font-weight: normal;
    font-size: large;
  }

  &__code {
    font-family: $font-secondary;
    color: $color-primary-focus;
    font-weight: normal;
    font-size: large;
  }

  &__icon-block {
    margin-top: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;

    &--furnished,
    &--area,
    &--date,
    &--rooms {
      place-self: flex-start;
      display: flex;
      align-items: center;
      @extend %text-base;
      font-family: $font-secondary;

      svg {
        fill: $color-primary-content;
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
      }
    }
  }

  &__description {
    margin-top: 3rem;

    & h2 {
      font-family: $font-secondary;
      color: $color-primary-focus;
      font-weight: bold;
      font-size: large;
    }

    & p {
      font-family: $font-primary;
      color: $color-primary-focus;
      font-weight: normal;
      @extend %text-base;
    }
  }

  &__realtor {
    margin: 3rem 0;
    width: 100%;
    height: 20rem;
    background-color: $color-secondary-focus;

    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;

    @include screenSize(phone) {
      flex-direction: column;
    }
  }

  &__price {
    margin: 3rem 0;
    font-family: $font-secondary;
    font-weight: bold;
    text-align: start;
    font-size: large;
  }

  &__btn {
    background-color: $color-accent;
  }
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;

  @include screenSize(tablet-portrait) {
    width: 6rem;
    height: 6rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-info {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__name {
    font-family: $font-secondary;
    color: $color-primary-focus;
    font-weight: bold;
    font-size: x-large;
  }

  &__job,
  &__region,
  &__phone {
    font-family: $font-primary;
    color: $color-primary-focus;
    font-weight: normal;
    @extend %text-sm;
  }
}
